<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>

<body>
    <main class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <form method="POST">
                    {% with messages = get_flashed_messages() %}{% endwith %}
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password" required autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>
    {{ bootstrap.load_js() }}
</body>

</html>
